/*header开始*/
#menue{
    text-decoration: none;
    list-style: none;
    font-size: 12px;
    margin-left: 180px;
    margin-right: 180px;
}
.p1{
    float: left;
    text-decoration: none;
}
#header a:hover{
    color: #ff00cc;
}
.p1 a{
    margin: 0 10px 0 10px;
}
a:link{
    text-decoration:none;
}
.meue{
    float: right;
    list-style: none;


}
.l2{
    height: 33px;
    border-width: 0 1px;
    border-color:#f2f2f2;
    border-style: solid;
}
.meue .l1{
    /*margin:0 10px 0 10px;*/
    padding: 0 14px 0 14px;
    float: left;
    position: relative;
}
li .Tr:hover::after{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform .5s ease;
    -moz-transition: transform .5s ease;
    -ms-transition: transform .5s ease;
    -o-transition: transform .5s ease;
    transition: transform .5s ease;
}

li .Tr::after{
    content: '';
    height: 0px;
    width: 0;
    border-width: 3px;
    border-style: solid;
    border-color: #ff00cc transparent transparent transparent;
    position:absolute ;
    right: 4px;
    top: 48%;



    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    transform-origin: 3px 1.5px;

}
li .qr-code .qrT::after{
    content: '';
    height: 0px;
    width: 0;
    border-width: 6px;
    border-style: solid;
    border-color:  transparent transparent #ffffff transparent;
    position:absolute ;
    right: 81px;
    top: -5%;


}
.bc{
    position: relative;
    left: 3px;
}
.buyinfo{
    list-style: none;
    padding: 14px;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    border-color: #e5e5e5;
    position: absolute;
    right: -41px;
    left: -1px;
    top:33px;
    clear: both;
    display: none;
}
.l1:hover .buyinfo{
    background: #ffffff;
    display:block;

}
.l1 .buyinfo a:hover{
    text-decoration: underline;
}
#header .l2:hover>a{
    text-decoration: underline;
    color: #ff00cc;
}
.l2:hover{
     background: #ffffff;
     display:block;
     /*border-style: solid;*/
    /*border-width: 0px 1px;*/
    border-color: #e5e5e5;
    cursor: pointer;
 }
.l1 .qr-code{
    width: 175px;
    height: 227px;
    background: #ffffff;
    position: absolute;
    top:26px ;
    right: -58px;
    border-style: solid;
    border-width: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 0 5px #aaa;
    display: none;
}
li.qr:hover .qr-code{
    display: block;

}
/*header结束*/

/*search开始*/
.search-loge{
    height:130px ;
}
.search-loge .loge img{
    width: 240px;
}
.search-loge .loge,.search-loge .search{
    float: left;

}
.search .hot-search li{
    list-style: none;
}
.search .search-bar{
    border: 2px solid  ;
    border-color: #ff0036;
    height: 32px;
    width: 627px;
}
.search input{
    width: 491px;
    height: 28px;
    float: left;
    outline: none;
    font-size: 15px;
}
.search button{
    width: 132px;
    height: 32px;
    /*padding-left: 10px;*/
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 5px;
    float: right;
    color: #ffffff;
    background: #ff0036;
    border: 0;


}
.hot-search{
    margin-top: 6px;
}
.hot-search .hot{
    float: left;
    border-right: 2px solid #e5e5e5;
    padding: 0 10px;

}
.hot-search a{
    color: #999;
}
.hot-search .highlight a{
    color: #ff0036;
}
.search{
    margin: 38px 0 0 50px;
}

/*search结束*/


/*navbar开始*/
.navbar{
    height: 36px;
}
.classfication{
    /*height: 36px;*/
    position: relative;
}
.classfication-header{
    position: absolute;
    top: 0px;
    left: 16px;
    width: 200px;
    height: 36px;
    background: #ff0036;
    color: #ffffff;
    line-height: 36px;
    /*clear: both;*/

}
.classfication i{
    margin-left: 14px;
}
.classfication span {
margin-left: 8px;
}
.Tarea li{
    float: left;
    list-style: none;
    height: 36px;
    line-height: 36px;
    margin-right: 15px;
}

.Tarea .area img{
width: 100px;
}
.Tarea .area a{
    font-size: 15px;
    color: #cccccc;
}
.Tarea li:hover a{
    color: #ff0036;
}
.main-banner{
    background: #ff520b;
}
.main-banner .main-choose{
    margin-left: 16px;
    width: 200px;
    height: 500px;
    color: #e5e5e5;
    background: rgba(0,0,0,0.5);
}
.main-choose a{
    color: #ffffff;
}
.main-choose li{
    padding-top: 10px;
    /*overflow: hidden;*/
}
.main-banner .warper{
    height:500px;
    background: url(../img/banner1.webp) no-repeat center;
}
.main-banner .main-choose li:hover a{
    color: #ff0036;
}
.main-banner .main-choose li:hover{
    background: #f2f2f2;
    color:#ff0036;
}
/*navbar结束*/

/*sidebar开始*/
.sidebar{

    position: fixed;
    right: 0;
    top:0;
    bottom: 0;
    width: 35px;
    background: #000;
}
.sidebar .sidebar-content{
    color: #ffffff;
    font-size: 12px;
}
.sidebar-content .content-vip{
    margin-top: 100px;
}
.sidebar .sidebar-content li{
    position: relative;

}
.content-vip i{
    margin-left: 10px;
}
.content-vip .vip-equities{
    width: 70px;
    text-align: center;
    height: 18px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: -150px;
    background: #494949;
    opacity: 0;

}
.sidebar .content-vip:hover .vip-equities{
    opacity: 1;
    position: absolute;
    top:0;
    left: -70px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.sidebar .content-vip:hover{
    background: #ff0036;
}
.content-vip .vip-tr::after{
    content: '';
    border-style: solid;
    border-color: transparent transparent transparent #494949;
    border-width: 4px;
    position: absolute;
    top: 5px;
    right: -7px;
}

/*sidebar结束*/


/*brand开始*/
.brand-list li{
    position: relative;
    height:108px;
    width: 122px;
}
.brand img{
    height:50px;
    width: 100px;
    /*border:1px solid #cccccc;*/

    /*居中的一种方法*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-50px;
    margin-top: -25px;

}
.brand .brand1 .brand1-picture{
    height:108px;
    width: 122px;
    /*border: 1px solid red;*/
    position: relative;
    background: #ffffff;
}
.brand .brand-in{
    position: absolute;
    top: 0;
    right: 0;
    width: 122px;
    height: 108px;
    opacity: 0;
    background: #494949;
    color: #ffffff;

}
.brand-in .bottom-brand{
    color: #ffffff;

}
.brand-in .title-brand{
    margin-top: 30px;
    text-align: center;
}
.brand .brand-list{
    margin-left: 16px;
}
.brand-in .bottom-brand p{
    width: 80px;
    background-color: #ff0036;
    border-radius: 10px;
    text-align: center;
    margin-left: 22px;
}

.brand-list .brand1:hover .brand-in{
    opacity: 1;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
}
/*brand结束*/